@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.card {
width: 150px;
height: 150px;
float: left;
margin: 20px;
}

.card-img {
	height: 150px;
	object-fit: cover;
}
